@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 98%;
    --foreground: 222 47% 11%;
    --card: 210 40% 96.1%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 210 100% 56%;
    --primary-foreground: 210 50% 15%;
    --secondary: 25 95% 53%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 217.2 32.6% 80%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 25 95% 53%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 70%;
    --input: 217.2 32.6% 70%;
    --ring: 210 100% 56%;
    --radius: 0.5rem;
    --chart-1: 140 70% 50%;
    --chart-2: 140 60% 60%;
    --chart-3: 140 50% 70%;
    --chart-4: 140 40% 80%;
    --chart-5: 140 30% 90%;
    --status-available: 120 60% 40%;
    --status-transit: 45 80% 50%;
    --status-maintenance: 0 80% 55%;
  }

  .dark {
    --background: 222 47% 12%;
    --foreground: 210 40% 98%;
    --card: 222 47% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 100% 70%;
    --primary-foreground: 210 50% 15%;
    --secondary: 25 95% 53%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 217 33% 24%;
    --muted-foreground: 215 20% 65%;
    --accent: 25 95% 53%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 34%;
    --input: 217 33% 34%;
    --ring: 25 95% 53%;
    --status-available: 120 50% 60%;
    --status-transit: 45 70% 60%;
    --status-maintenance: 0 70% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #zona-factura, #zona-factura * {
    visibility: visible;
  }
  #zona-factura {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

    